extends layout

block content
	if user
		if user.admin == true
			h1 Welcome, #{user.name}
			p You are an administrator of this system
		else
			h1 Welcome, #{user.name}
			ul.list-group
				///li.list-group-item <b>Health Number:</b> #{patient._id}
				///li.list-group-item <b>Phone Number:</b> #{patient.phone_no}
				///li.list-group-item <b>Street Address:</b> #{patient.street_no} #{patient.street_name}
				///li.list-group-item <b>City:</b> #{patient.city}
				///li.list-group-item <b>Province:</b> #{patient.province}

			hr
	else
		h1 #{title}
		p This is a Medical Clinic CMS
		p Please log-in to use system