extends /layout
block content
    h1 #{title}
    form(action="/appointments/add", method="POST")
        #form-group
            label Select Patient:
            select.form-control(name='patient_id')
                each patient, i in patients
                    option(value=patient._id) #{patient.name}
        #form-group
            label Select Doctor:
            select.form-control(name='doctor_sin')
                each doctor, i in doctors
                    option(value=doctor._id) #{doctor.name}
        #form-group
            label Select Receptionist:
            select.form-control(name='receptionist_sin')
                each receptionist, i in receptionists
                    option(value=receptionist._id) #{receptionist.name}
        #form-group
            label Type:
            select.form-control(name='type')
                option(name="checkup" value="checkup") Checkup
                option(name="dental" value="dental") Dental
                option(name="follow_up" value="follow_up") Follow-Up
        #form-group
            label Purpose:
            input.form-control(name='purpose', type='text')
        #form-group
            label Diagnosis:
            input.form-control(name='diagnosis', type='text')
        #form-group
            label Date:
            input.form-control(name='date', type='date')
        #form-group
            label Time:
            input.form-control(name='time', type='time')
        br
        input.btn.btn-primary(type='submit',value='Submit') 