extends /layout
block content
    ul.list-group
        li.list-group-item <b>Patient ID:</b> #{appointment.patient_health_no}
        li.list-group-item <b>Patient ID:</b> #{appointment.doctor_sin}
        li.list-group-item <b>Patient ID:</b> #{appointment.receptionist_sin}
        li.list-group-item <b>Date:</b> #{moment(appointment.date_time).format('D MMMM YYYY, h:mm a')}
        li.list-group-item <b>Type:</b> #{appointment.appointment_type}
        li.list-group-item <b>Pupose of Visit:</b> #{appointment.purpose}
        li.list-group-item <b>Diagnosis:</b> #{appointment.diagnosis}
    hr
    a.btn.btn-default(href='/appointments/edit/'+appointment._id) Edit
    a.btn.btn-danger.delete-doctor(href='#',data-id=appointment._id) Delete